.App {
    padding: 20px;
}

label {
    display: block;
}

button,

input[type="text"],
input[type="password"] {
    width: 200px;

    border: 1px solid #333;
    border-radius: 4px;

    display: block;

    margin-bottom: 4px;
}